body {
	font-family: "Comfortaa", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Sora", sans-serif;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    background-image: url("http://localhost:8080/Project/resources/images/homepage-pic.png");
  background-size: cover;
  background-position: center;
}

.container {
	font-family: "Comfortaa", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Sora", sans-serif;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
	font-family: "Comfortaa", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Sora", sans-serif;
    display: flex;
    flex-direction: column;
}

label {
	font-family: "Comfortaa", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Sora", sans-serif;
    margin-bottom: 8px;
}

input {
	font-family: "Comfortaa", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Sora", sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
	font-family: "Comfortaa", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Sora", sans-serif;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
	font-family: "Comfortaa", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Sora", sans-serif;
    background-color: #45a049;
}
